!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!debug.keystore
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
.cache
.cache/
.cxx/
.docusaurus
.DS_Store
.dynamodb/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.externalNativeBuild/
.fusebox/
.gradle
.gradle/
.grunt
.idea
.idea/
.lock-wscript
.metro-health-check*
.next
.node_repl_history
.npm
.nuxt
.nyc_output
.parcel-cache
.pnp.*
.pnpm-debug.log*
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.serverless/
.stylelintcache
.temp
.tern-port
.vscode-test
.vuepress/dist
.yarn-integrity
.yarn/*
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
*.apk
*.hmap
*.hprof
*.hprof
*.iml
*.iml
*.ipa
*.jks
*.jsbundle
*.keystore
*.lcov
*.log
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3
*.pid
*.pid.lock
*.seed
*.tgz
*.tsbuildinfo
*.xccheckout
*.xcuserstate
**/.xcode.env.local
**/fastlane/Preview.html
**/fastlane/report.xml
**/fastlane/screenshots
**/fastlane/test_output
**/Pods/
/coverage
/vendor/bundle/
bower_components
build/
build/Release
captures/
coverage
deploymentTargetDropDown.xml
DerivedData
dist
google-services.json
jspm_packages/
lerna-debug.log*
lib-cov
local.properties
logs
misc.xml
node_modules/
npm-debug.log
npm-debug.log*
out
output.json
pids
render.experimental.xml
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
web_modules/
xcuserdata
yarn-debug.log*
yarn-error.log
yarn-error.log*